{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Quadroway | About</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/Medic_template/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/Medic_template/css/coin-slider.css" />
<script type="text/javascript" src="/static/Medic_template/js/cufon-yui.js"></script>
<script type="text/javascript" src="/static/Medic_template/js/cufon-quicksand.js"></script>
<script type="text/javascript" src="/static/Medic_template/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/Medic_template/js/script.js"></script>
<script type="text/javascript" src="/static/Medic_template/js/coin-slider.min.js"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="admin.html">Quadro<span>way</span> <small>Shop Here</small></a></h1>
      </div>
      <div class="menu_nav">
        <ul>
          <li><a href="{% url 'Login' %}"><span>Login</span></a></li>
          <li><a href="{% url 'UserRegister' %}"><span>User Registration</span></a></li>
          <li><a href="{% url 'SupplierRegister' %}"><span>Supplier Registration</span></a></li>
         
          
        </ul>
      </div>
      <div class="clr"></div>
      <div class="slider">
        <div id="coin-slider"> <a href="#"><img src="/static/Medic_template/images/Tulips.jpg" width="800" height="293" alt="" /> </a> <a href="#"><img src="/static/Medic_template/images/slide2.jpg" width="935" height="293" alt="" /> </a> <a href="#"><img src="/static/Medic_template/images/slide3.jpg" width="935" height="293" alt="" /> </a> </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          
        
          
          <div class="clr"></div>
{% block content %}
{% endblock %}
          </div>
      </div>
      <div class="sidebar">
        
 <div class="clr"></div>
        <div class="gadget">
          
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href="{% url 'ViewSuppliers' %}">&raquo;View Suppliers</a></li>
            
           
          </ul>
        </div>
 </div>
 <div class="clr"></div>
 </div>
  </div>       
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image</span> Gallery</h2>
        <a href="#"><img src="/static/Medic_template/images/Tulips.jpg" width="75" height="75" alt="" class="gal" /></a>  <a href=><img src="images/gal3.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src=""/static/Medic_template/images/gal4.jpg"" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src=""/static/Medic_template/images/gal5.jpg"" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="/static/Medic_template/images/gal6.jpg" width="75" height="75" alt="" class="gal" /></a> </div>
      <div class="col c2">
     
        
        <ul class="fbg_ul">
          
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Contact</span> Us</h2>
        <p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor dui.</p>
        <p class="contact_info"> <span>Address:</span> 1458 TemplateAccess, USA<br />
          <span>Telephone:</span> +123-1234-5678<br />
          <span>E-mail:</span> <a href="#">mail@yoursitename.com</a> </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright <a href="#">MyWebSite</a>.</p>
      <p class="rf">Design by Dream <a href="http://www.dreamtemplate.com/">Web Templates</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
</body>
</html>
